#container {
    position: relative;
    display: flex;
    flex-direction: row;
}

#canvasbox {
    width: 600px;
    height: 600px;
    background-color: lightblue;
}
    
#spbox {
    background-color: lightcoral;
    border-top: solid 1px black;
    border-right: solid 1px black;
    border-bottom: solid 1px black;
    padding-right: 7em;
}

#sidepanel {
    
}

#rect {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#sq {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

#cir {
    display: flex;
    flex-direction: row;
}

#tri {
    display: flex;
    flex-direction: row;
}

.square {
    background-color: blueviolet;
    position: absolute;
}

#inputfields {
    margin-bottom: 1em;
    
}
